<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outSouPlat.dao.ProjectMapper">
	<insert id="add" parameterType="com.outSouPlat.entity.Project">
		insert into project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="intro!=null">
				intro,
			</if>
			<if test="illusUrl!=null">
				illusUrl,
			</if>
			<if test="deveLang!=null">
				deveLang,
			</if>
			<if test="database!=null">
				`database`,
			</if>
			<if test="deveTool!=null">
				deveTool,
			</if>
				outCount,
				taskBagCount,
				createTime,
				state
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="intro!=null">
				#{intro},
			</if>
			<if test="illusUrl!=null">
				#{illusUrl},
			</if>
			<if test="deveLang!=null">
				#{deveLang},
			</if>
			<if test="database!=null">
				#{database},
			</if>
			<if test="deveTool!=null">
				#{deveTool},
			</if>
				0,
				0,
				now(),
				${@com.outSouPlat.entity.Project@DAI_FA_BU}
		</trim>
	</insert>
	<update id="edit" parameterType="com.outSouPlat.entity.Project">
		update project set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="intro!=null">
				intro=#{intro},
			</if>
			<if test="illusUrl!=null">
				illusUrl=#{illusUrl},
			</if>
			<if test="deveLang!=null">
				deveLang=#{deveLang},
			</if>
			<if test="database!=null">
				`database`=#{database},
			</if>
			<if test="deveTool!=null">
				deveTool=#{deveTool},
			</if>
		</trim>
		 where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from project where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
		<if test="deveLang!=''&amp;deveLang!=null">
			and deveLang like CONCAT('%',#{deveLang},'%')
		</if>
		<if test="database!=''&amp;database!=null">
			and `database` like CONCAT('%',#{database},'%')
		</if>
		<if test="deveTool!=''&amp;deveTool!=null">
			and deveTool like CONCAT('%',#{deveTool},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="state!=''&amp;state!=null">
			and state=#{state}
		</if>
	</select>
	<select id="queryList" resultType="com.outSouPlat.entity.Project">
		select * from project where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
		<if test="deveLang!=''&amp;deveLang!=null">
			and deveLang like CONCAT('%',#{deveLang},'%')
		</if>
		<if test="database!=''&amp;database!=null">
			and `database` like CONCAT('%',#{database},'%')
		</if>
		<if test="deveTool!=''&amp;deveTool!=null">
			and deveTool like CONCAT('%',#{deveTool},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="state!=''&amp;state!=null">
			and state=#{state}
		</if>
		order by createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.outSouPlat.entity.Project">
		select * from project where id=#{0}
	</select>
	<select id="queryCBBList" resultType="com.outSouPlat.entity.Project">
		select id,name from project order by createTime
	</select>
</mapper>