<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outSouPlat.dao.TaskOrderMapper">
	<insert id="add" parameterType="com.outSouPlat.entity.TaskOrder">
		insert into task_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="no!=null">
				no,
			</if>
			<if test="taskBagId!=null">
				taskBagId,
			</if>
			<if test="userId!=null">
				userId,
			</if>
				createTime,
				state
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="no!=null">
				#{no},
			</if>
			<if test="taskBagId!=null">
				#{taskBagId},
			</if>
			<if test="userId!=null">
				#{userId},
			</if>
				now(),
				${@com.outSouPlat.entity.TaskOrder@UN_FINISH}
		</trim>
	</insert>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from task_order `to`,task_bag tb,user u where `to`.taskBagId=tb.id and `to`.userId=u.id
		<if test="no!=''&amp;no!=null">
			and `to`.no like CONCAT('%',#{no},'%')
		</if>
		<if test="taskBagName!=''&amp;taskBagName!=null">
			and tb.name like CONCAT('%',#{taskBagName},'%')
		</if>
		<if test="userName!=''&amp;userName!=null">
			and u.username like CONCAT('%',#{userName},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and `to`.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="finishTimeStart!=''&amp;finishTimeStart!=null&amp;finishTimeEnd!=''&amp;finishTimeEnd!=null">
			and `to`.finishTime between #{finishTimeStart} and #{finishTimeEnd}
		</if>
		<if test="state!=''&amp;state!=null">
			and `to`.state=#{state}
		</if>
		<if test="userId!=''&amp;userId!=null">
			and `to`.userId=#{userId}
		</if>
	</select>
	<select id="queryList" resultType="com.outSouPlat.entity.TaskOrder">
		select `to`.*,tb.name taskBagName,u.userName from task_order `to`,task_bag tb,user u where `to`.taskBagId=tb.id and `to`.userId=u.id
		<if test="no!=''&amp;no!=null">
			and `to`.no like CONCAT('%',#{no},'%')
		</if>
		<if test="taskBagName!=''&amp;taskBagName!=null">
			and tb.name like CONCAT('%',#{taskBagName},'%')
		</if>
		<if test="userName!=''&amp;userName!=null">
			and u.username like CONCAT('%',#{userName},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and `to`.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="finishTimeStart!=''&amp;finishTimeStart!=null&amp;finishTimeEnd!=''&amp;finishTimeEnd!=null">
			and `to`.finishTime between #{finishTimeStart} and #{finishTimeEnd}
		</if>
		<if test="state!=''&amp;state!=null">
			and `to`.state=#{state}
		</if>
		<if test="userId!=''&amp;userId!=null">
			and `to`.userId=#{userId}
		</if>
		order by `to`.createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.outSouPlat.entity.TaskOrder">
		select `to`.*,tb.name taskBagName,tb.annexFileSize,tb.annexFileUrl,u.userName from task_order `to`,task_bag tb,user u where `to`.taskBagId=tb.id and `to`.userId=u.id and `to`.id=#{id}
	</select>
	<update id="uploadCodeFile">
		update task_order set codeFileSize=#{codeFileSize},codeFileUrl=#{codeFileUrl} where id=#{id}
	</update>
	<update id="updateStateByIdList">
		update task_order set state=#{state} where
		<foreach collection="idList" item="id" open="1=1 and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</update>
</mapper>