<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outSouPlat.dao.TestResultMapper">
	<insert id="add" parameterType="com.outSouPlat.entity.TestResult">
		insert into test_result
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId!=null">
				orderId,
			</if>
			<if test="testUserId!=null">
				testUserId,
			</if>
				createTime,
			<if test="phone!=null">
				phone,
			</if>
			<if test="desc!=null">
				`desc`,
			</if>
			<if test="result!=null">
				result,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId!=null">
				#{orderId},
			</if>
			<if test="testUserId!=null">
				#{testUserId},
			</if>
				now(),
			<if test="phone!=null">
				#{phone},
			</if>
			<if test="desc!=null">
				#{desc},
			</if>
			<if test="result!=null">
				#{result},
			</if>
		</trim>
	</insert>
	<update id="edit" parameterType="com.outSouPlat.entity.TestResult">
		update test_result set 
		<trim suffixOverrides=",">
			<if test="testUserId!=null">
				testUserId=#{testUserId},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="desc!=null">
				`desc`=#{desc},
			</if>
			<if test="result!=null">
				result=#{result},
			</if>
		</trim>
		 where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from test_result tr,task_order `to`,task_bag tb,user upload_u,user order_u,user agree_u,user testu where tr.orderId=`to`.id and tb.uploadUserId=upload_u.id and `to`.orderUserId=order_u.id and `to`.agreeUserId=agree_u.id and tr.testUserId=testu.id and `to`.taskBagId=tb.id
		<if test="orderNo!=''&amp;orderNo!=null">
			and `to`.no like CONCAT('%',#{orderNo},'%')
		</if>
		<if test="taskBagName!=''&amp;taskBagName!=null">
			and tb.name like CONCAT('%',#{taskBagName},'%')
		</if>
		<if test="uploadUserName!=''&amp;uploadUserName!=null">
			and upload_u.username like CONCAT('%',#{uploadUserName},'%')
		</if>
		<if test="orderUserName!=''&amp;orderUserName!=null">
			and order_u.username like CONCAT('%',#{orderUserName},'%')
		</if>
		<if test="agreeUserName!=''&amp;agreeUserName!=null">
			and agree_u.username like CONCAT('%',#{agreeUserName},'%')
		</if>
		<if test="testUserName!=''&amp;testUserName!=null">
			and u.username like CONCAT('%',#{testUserName},'%')
		</if>
		<if test="phone!=''&amp;phone!=null">
			and tr.phone like CONCAT('%',#{phone},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and tr.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="result!=''&amp;result!=null">
			and tr.result=#{result}
		</if>
		<choose>
			<when test="roleFlag==@com.outSouPlat.util.Constant@INTER_FLAG">
			 	and testu.id=#{userId}
			</when>
			<when test="roleFlag==@com.outSouPlat.util.Constant@EXTER_FLAG">
			 	and `to`.orderUserId=#{userId}
			</when>
		</choose>
	</select>
	<select id="queryList" resultType="com.outSouPlat.entity.TestResult">
		select tr.*,`to`.no orderNo,tb.name taskBagName,upload_u.username uploadUserName,order_u.username orderUserName,agree_u.userName agreeUserName,testu.username testUserName from test_result tr,task_order `to`,task_bag tb,user upload_u,user order_u,user agree_u,user testu where tr.orderId=`to`.id and tb.uploadUserId=upload_u.id and `to`.orderUserId=order_u.id and `to`.agreeUserId=agree_u.id and tr.testUserId=testu.id and `to`.taskBagId=tb.id
		<if test="orderNo!=''&amp;orderNo!=null">
			and `to`.no like CONCAT('%',#{orderNo},'%')
		</if>
		<if test="taskBagName!=''&amp;taskBagName!=null">
			and tb.name like CONCAT('%',#{taskBagName},'%')
		</if>
		<if test="uploadUserName!=''&amp;uploadUserName!=null">
			and upload_u.username like CONCAT('%',#{uploadUserName},'%')
		</if>
		<if test="orderUserName!=''&amp;orderUserName!=null">
			and order_u.username like CONCAT('%',#{orderUserName},'%')
		</if>
		<if test="agreeUserName!=''&amp;agreeUserName!=null">
			and agree_u.username like CONCAT('%',#{agreeUserName},'%')
		</if>
		<if test="testUserName!=''&amp;testUserName!=null">
			and u.username like CONCAT('%',#{testUserName},'%')
		</if>
		<if test="phone!=''&amp;phone!=null">
			and tr.phone like CONCAT('%',#{phone},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and tr.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="result!=''&amp;result!=null">
			and tr.result=#{result}
		</if>
		<choose>
			<when test="roleFlag==@com.outSouPlat.util.Constant@INTER_FLAG">
			 	and testu.id=#{userId}
			</when>
			<when test="roleFlag==@com.outSouPlat.util.Constant@EXTER_FLAG">
			 	and `to`.orderUserId=#{userId}
			</when>
		</choose>
		order by tr.createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.outSouPlat.entity.TestResult">
		select tr.*,`to`.no orderNo,tb.name taskBagName,test_u.username testUserName from test_result tr,task_order `to`,task_bag tb,user test_u where tr.orderId=`to`.id and tr.testUserId=test_u.id and `to`.taskBagId=tb.id and tr.id=#{id}
	</select>
</mapper>