<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outSouPlat.dao.UserMapper">
	<select id="get" resultType="com.outSouPlat.entity.User">
		select * from user where username=#{username} and password=#{password}
	</select>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from user where username!='admin'
		<if test="username!=''&amp;username!=null">
			and username like CONCAT('%',#{username},'%')
		</if>
		<if test="state!=''&amp;state!=null">
			and state=#{state}
		</if>
	</select>
	<select id="queryList" resultType="com.outSouPlat.entity.User">
		select * from user where username!='admin'
		<if test="username!=''&amp;username!=null">
			and username like CONCAT('%',#{username},'%')
		</if>
		<if test="state!=''&amp;state!=null">
			and state=#{state}
		</if>
		order by createTime
		limit #{rowNum},#{rows}
	</select>
	<select id="getCountByUsername" resultType="java.lang.Integer">
		select count(*) from user where username=#{username}
	</select>
	<insert id="add" parameterType="com.outSouPlat.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username!=null">
				username,
			</if>
			<if test="password!=null">
				password,
			</if>
			<if test="phone!=null">
				phone,
			</if>
			<if test="qq!=null">
				qq,
			</if>
			<if test="weixin!=null">
				weixin,
			</if>
				createTime,
				state,
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username!=null">
				#{username},
			</if>
			<if test="password!=null">
				#{password},
			</if>
			<if test="phone!=null">
				#{phone},
			</if>
			<if test="qq!=null">
				#{qq},
			</if>
			<if test="weixin!=null">
				#{weixin},
			</if>
				now(),
				${@com.outSouPlat.entity.User@NO_CHECK},
		</trim>
	</insert>
	<update id="edit" parameterType="com.outSouPlat.entity.User">
		update user set 
		<trim suffixOverrides=",">
			<if test="password!=null">
				password=#{password},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="qq!=null">
				qq=#{qq},
			</if>
			<if test="weixin!=null">
				weixin=#{weixin},
			</if>
			<if test="state!=null">
				state=#{state},
			</if>
			<if test="roleIds!=null">
				roleIds=#{roleIds},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="selectById" resultType="com.outSouPlat.entity.User">
		select * from user where id=#{id}
	</select>
	<update id="checkByIds">
		update user set 
		<choose>
			<when test="result">
				state=${@com.outSouPlat.entity.User@CHECKED}
			</when>
			<otherwise>
				state=${@com.outSouPlat.entity.User@EDITING}
			</otherwise>
		</choose>
		where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</update>
</mapper>